[2015-10-21 01:06] hangtwenty opened #6 "Encourage Python 3 adoption, but welcome all backgrounds."
See Pull Request #4 .

[2015-10-21 01:07] hangtwenty opened #7 "Recommend Anaconda as a viable alternative to pip."
See Pull Request #4.

[2015-10-21 20:33] hangtwenty commented on #7
OK #4 merged but still need to make it clear that they newcomers may want Anaconda but pip is great too. (Without being too complicated.)

[2015-10-22 17:04] hangtwenty commented on #7
good verbiage re Anaconda [here](https://render.githubusercontent.com/view/ipynb?commit=99e0882d06a46f0833ab44b240dbd154bcef9e51&enc_url=68747470733a2f2f7261772e67697468756275736572636f6e74656e742e636f6d2f726869657665722f446174612d416e616c797369732d616e642d4d616368696e652d4c6561726e696e672d50726f6a656374732f393965303838326430366134366630383333616234346232343064626431353462636566396535312f6578616d7

[2015-10-30 21:35] #6 closed

[2015-10-30 21:37] #7 closed

[2015-11-04 18:07] hangtwenty opened #10 "Jupyter: go through guide, ensure compatibility"
Prodded by [this comment on DataTau](http://www.datatau.com/item?id=10136).

I replied ...

[2015-11-04 19:04] hangtwenty opened #11 "Need advice about how to evaluate your proficiency"
Need to tell people how they know they're out of the Danger Zone or how they know they are hire-able.

[2015-11-04 19:13] hangtwenty commented on #11
[We've got a start via hackernews user olympus. Kaggle!](https://news.ycombinator.com/item?id=10508565)

[2015-11-05 02:29] hangtwenty commented on #11
I need some review!

I added a section warning people about the "Danger Zone" (when you know enough to throw some algorithms at some things, but you don't have enough knowledge, science, or stats knowledge to be an expert). The "danger zone" is familiar to anyone who's taught themselves something really big. [Here's the section.]

What's missing: some advice! It would be nice if the guide could sa

[2015-11-05 02:34] hangtwenty commented on #11
@rhiever have any thoughts? No worries if you don't want to touch this with a ten foot pole :P Would understand.

@davidlowjw ?

[2015-11-05 17:47] rhiever commented on #11
Kaggle competitions are a so-so way to practice ML. I have ethical issues with Kaggle because I think they're exploiting researchers to build products for companies, but that's a conversation for another day.

One good way to have your work double-checked is to post it on Cross-Validated: http://stats.stackexchange.com/

There's some really smart people on there that will give you great advice.

T

[2015-11-05 18:34] hangtwenty commented on #11
Thanks for the thoughtful response @rhiever.

I hadn't thought about Kaggle that way, as an outsider looking in ... I work in InfoSec and being so used to bug bounties and the like, the premise didn't shock me. But this is a good perspective to hear.

So your suggestion is rather to:

1. practice a lot with real data
2. when you have a novel finding, reach out for review (on one of the communities

[2015-11-05 18:50] rhiever commented on #11
Sure, feel free to quote.

[2015-11-05 21:43] hangtwenty commented on #10
Misinterpreted their comment. There shouldn't actually be any incompatibilities (that's what I thought in the first place, but I second-guessed). Won't talk about any differences in the two, don't want to distract.

[2015-11-05 21:43] #10 closed

[2015-11-07 02:16] hangtwenty commented on #11
Changes now in master. I think this really helps the guide and adds something that was missing. Thanks for your help on this!

[2015-11-07 02:16] #11 closed

[2015-11-12 05:41] hangtwenty opened #21 "Add TensorFlow link somewhere ..."

[2015-11-12 05:50] #21 closed

[2015-11-17 23:03] hangtwenty opened #26 "Bayesian methods"
**PULL REQUESTS WELCOME!**

We already have this ...

I've come across [markdregan/Bayesian-Modelling-in-Python](https://github.com/markdregan/Bayesian-Modelling-in-Python) and it looks great. Should probably add a link to this, right around the quote above. But then it might be good to have a word or two link to some explanation of the exact relationship of Bayesian Modeling to ML ...

the inline

[2015-11-17 23:07] hangtwenty opened #27 "Deep Frameworks/ TensorFlow vs. Theano vs. Torch"
I should get wise to [TensorFlow vs. Theano vs. Torch](https://github.com/zer0n/deepframeworks) then update this snip of verbiage...

maybe to something like

[2015-11-18 17:01] hangtwenty opened #28 "Consider adding link to HackerRank for practice problems."
May want to add link to [HackerRank: Statistics and Machine Learning](https://www.hackerrank.com/domains/ai/machine-learning), but want to vet it a bit. The site has many categories, so I would like to check if these are (indisputably) worthwhile exercises before adding link.

[2015-11-19 03:28] hangtwenty commented on #26
Drafting...

---------------

## Bayesian machine learning

You can learn more with one of these computation/notebook-based guides:
* (Probabilistic Programming and Bayesian Methods for Hackers)[http://camdavidsonpilon.github.io/Probabilistic-Programming-and-Bayesian-Methods-for-Hackers/]: "An intro to Bayesian methods and probabilistic programming from a computation/understanding-first, mathemati

[2015-11-19 04:47] hangtwenty opened #29 "Elements of Statistical Learning vs. Understanding Machine Learning?"
[_Elements of Statistical Learning_](http://statweb.stanford.edu/~tibs/ElemStatLearn/) and [_Understanding Machine Learning_](http://www.cs.huji.ac.il/~shais/UnderstandingMachineLearning/copy.html) are both free books, and frequently recommended as reference textbooks. As you continue towards expertise you can also go deep into these books.

Issue: need to add link to UML in guide. Also need to li

[2015-11-19 15:35] hangtwenty commented on #28
The thing about HackerRank being given too much weight in hiring, sometimes, bugs me ...

[2015-11-19 15:48] hangtwenty opened #30 "Link to Data is Plural somewhere"

[2015-11-24 20:37] #28 closed

[2015-11-24 20:37] hangtwenty commented on #28
Addressed in #31

[2015-11-24 20:37] hangtwenty commented on #30
Addressed in #31

[2015-11-24 20:37] #30 closed

[2015-11-24 22:57] hangtwenty commented on #27
tutorials for both Theano and TensorFlow (ported from Theano tutorials):

* https://github.com/nlintz/TensorFlow-Tutorials
* https://github.com/Newmu/Theano-Tutorials

[2015-11-25 20:14] #27 closed

[2015-11-28 03:44] justmarkham opened #34 "Video series about scikit-learn designed for machine learning beginners"
Hello! I have a suggestion for the repo, and thought an issue might be the best place to post it.

I created a video series about scikit-learn, designed specifically for Python users with no background in machine learning or scikit-learn. I thought it might be useful for your readers. Here are the relevant links:

GitHub repo containing the notebooks - https://github.com/justmarkham/scikit-learn-v

[2015-12-01 00:12] hangtwenty commented on #34
Great contribution, and yes this is the place to post it :wink: I'll check out the resources and think about the best place to put it!

[2015-12-10 19:58] #34 closed

[2015-12-18 18:09] awesome-bot opened #36 "Validate pull requests with Travis"
Hello, I wrote a tool that can validate README links (valid URLs, not duplicate). It can be run when someone submits a pull request.

 It is currently being used by
- https://github.com/vsouza/awesome-ios
- https://github.com/matteocrippa/awesome-swift
- https://github.com/dkhamsing/open-source-ios-apps

Examples
- https://travis-ci.org/matteocrippa/awesome-swift/builds/96526196 ok ✅
- https://tra

[2015-12-29 03:30] #36 closed

[2015-12-29 03:39] hangtwenty commented on #36
Another nice one, @dkhamsing!

Setting up with this finally. Glad you have the `--allow-dupes` option, because duplicate links are included in this guide on purpose ;) (unlike some other Awesome Guides)

[2015-12-29 03:40] hangtwenty opened #37 "Fix redirects"
Following on #36 , fix redirect links discovered by awesome_bot. https://travis-ci.org/hangtwenty/dive-into-machine-learning

[2015-12-29 03:43] dkhamsing commented on #36
@hangtwenty thanks :sweat_smile:

as you will find out, the options must go after the file..

[2015-12-29 18:46] hangtwenty commented on #36
Oh here is your tip just saw this. Haha

[2015-12-29 19:08] dkhamsing commented on #36
😁

[2015-12-29 19:18] #37 closed

[2015-12-29 19:18] hangtwenty commented on #37
Nevermind.

[2015-12-29 19:25] hangtwenty commented on #29
[These comments on Hacker News](https://news.ycombinator.com/item?id=10589398) give good context for comparing _Elements of Statistical Learning_ (ESL) with _Understanding Machine Learning_ (UML).

HN user arbitrage314:

HN user reader5000, in reply:

[2015-12-29 19:31] hangtwenty commented on #29
[This quora thread](https://www.quora.com/How-do-I-learn-machine-learning-1/answer/Xavier-Amatriain) also gives context about where _Elements of Statistical Learning_ would fit in a self-taught Machine Learning curriculum.

[2015-12-29 19:40] #29 closed

[2016-01-15 23:31] hangtwenty opened #41 "machine-learning-module -- add somewhere ?"
https://github.com/josephmisiti/machine-learning-module

[2016-01-15 23:33] hangtwenty opened #42 "Link to that great article on Machine Learning Mastery, but with caveats/framing"
Submitted by @vishwajeetv

But I need to add some framing or caveats. From https://github.com/hangtwenty/dive-into-machine-learning/pull/38 ... I said:

[2016-01-15 23:34] hangtwenty commented on #42
@vishwajeetv can you submit a new PR? I want you to show up in the contributors list because I am grateful for your contribution :)

[2016-01-15 23:36] hangtwenty opened #43 "Can someone revise/ add color to the big data section ...?"
There is [already a section about Big Data](https://github.com/hangtwenty/dive-into-machine-learning#big-data) but it needs some revision.

I've accumulated a couple links I want to throw in, but I may need assistance from an expert to keep this section tiny.

Preview of the revised links (add onto the links to Apache Spark etc. -- those will remain there)

* [10 things statistics taught us about

[2016-01-15 23:56] hangtwenty commented on #41
Closed by https://github.com/hangtwenty/dive-into-machine-learning/commit/b95f41e1c5a847a69c7956dc3c6982b694b7905c

[2016-01-15 23:56] #41 closed

[2016-01-19 03:52] hangtwenty opened #44 "Link to Julia Evans blogpost, "Machine Learning isn't just Kaggle competitions""
[Machine Learning isn't just Kaggle competitions](http://jvns.ca/blog/2014/06/19/machine-learning-isnt-kaggle-competitions/)

[2016-01-25 17:46] hangtwenty commented on #42
https://gist.github.com/hangtwenty/a15c8bed5b120eebf352

[2016-01-25 17:49] #42 closed

[2016-01-25 22:09] #26 closed

[2016-02-15 09:39] zzz6519003 opened #48 "will you open source the site's d3 code?"
:+1:

[2016-02-15 09:39] zzz6519003 commented on #48
A Visual Introduction to Machine Learning

[2016-02-16 13:59] hangtwenty commented on #48
@zzz6519003 I do not maintain that project! The authors' information is there, and you can track down their contact info (at least their Twitter, IIRC) from there. Cheers.

[2016-02-16 13:59] #48 closed

[2016-03-18 22:30] hangtwenty opened #50 "Add link to book: Python Machine Learning"
[_Python Machine Learning_](https://github.com/rasbt/python-machine-learning-book)

(and a [blog post reflecting on the writing of this book](http://sebastianraschka.com/blog/2015/writing-pymle.html))

[2016-04-12 16:54] hangtwenty opened #52 "Need a section about Deep Learning intro/way-out/next-steps if people are interested ... from someone who knows what they are talking about !"
(braindump)

I've largely avoided having much deep learning links or neural nets links ... because it seems like it can be dangerous for beginners to jump ahead to those when they are not ready. I don't know enough about deep learning to really situate this beside just a couple links in a list ... let alone situate it in a sober, smart way :)

Recently, [this MIT book about Deep Learning](http://w

[2016-04-12 18:37] gauthamzz commented on #52
shoudnt there be something like dive into deep learning then

[2016-04-12 20:20] hangtwenty commented on #52
@gauthamzz Good question ;)

But that's just the thing ... I do _not_ think there should be a "dive in" style guide for that topic. It's not really one you can "dive into." You have to really Know What You're Doing. I don't want to feed into the bit of hype that's been happening, around deep learning and neural nets, that can be counter-productive for beginners ... it's like if I were to start tal

[2016-05-07 05:32] hangtwenty commented on #52
alsooo http://karpathy.github.io/2015/05/21/rnn-effectiveness/

[2016-05-10 17:32] hangtwenty opened #53 "TPOT"
Need to [try out TPOT](http://www.randalolson.com/2016/05/08/tpot-a-python-tool-for-automating-data-science/) and probably add it to the guide.

[2016-05-10 17:33] hangtwenty commented on #11
Saw your new library [TPOT](http://www.randalolson.com/2016/05/08/tpot-a-python-tool-for-automating-data-science/), @rhiever ... looks awesome! I'm going to check it out and try it out, and figure out where to link to in the guide. ([issue](https://github.com/hangtwenty/dive-into-machine-learning/issues/53))

[2016-05-10 17:48] rhiever commented on #11
👍 Let me know if you have any questions! Thanks for adding it.

[2016-05-11 22:10] hangtwenty commented on #52
[CS231n Convolutional Neural Networks for Visual Recognition](http://cs231n.github.io/)

[2016-05-25 05:03] FleetAdmiral commented on #50
Hey i'd like to take this up. Could you guide me as to what exactly im required to do?

[2016-05-25 05:03] FleetAdmiral commented on #44
Hey , could i take this up?

[2016-05-25 06:47] hangtwenty commented on #44
@FleetAdmiral Sure, it's a quickie really, just need to link it somewhere in [this section](https://github.com/hangtwenty/dive-into-machine-learning#towards-expertise). It can even just be a link, using existing text. Just haven't gotten around to reading and adding the link

[2016-05-25 06:48] hangtwenty commented on #50
@FleetAdmiral I suppose this one is very vague ... just a memo! If you check it out and you find a spot to link, feel free to.

[2016-06-23 21:13] hangtwenty commented on #53
Relates to #52, and these should probably be done together. It will take some care to word this all concisely without butchering the content.

[2016-06-23 21:17] hangtwenty commented on #52
This section should probably be inserted after the "Big Data?" section. Titled,

[2016-06-23 21:18] hangtwenty commented on #52
[link to this funny joke probably](http://joelgrus.com/2016/05/23/fizz-buzz-in-tensorflow/)

[2016-06-23 22:53] hangtwenty commented on #52
putting the [buzz](https://backchannel.com/how-google-is-remaking-itself-as-a-machine-learning-first-company-ada63defcb70) [fizzbuzz](http://joelgrus.com/2016/05/23/fizz-buzz-in-tensorflow/). I kid, I kid

[2016-06-27 17:47] hangtwenty commented on #52
But seriously [here is a good introduction to link to, as it's consistent with the same style of our guide](http://ofir.io/How-to-Start-Learning-Deep-Learning/); would just make sense.

[2016-07-07 04:05] #50 closed

[2016-07-16 22:43] jlar0che commented on #44
7777777777777777777777777777777777777777777777777771`

[2016-07-16 22:44] jlar0che commented on #44
Seems like this wasn't followed up on. I'll do it now and send a PR.

[2016-08-05 22:37] hangtwenty commented on #44
Thanks @jlar0che !

[2016-08-05 22:37] #44 closed

[2016-08-07 22:19] #52 closed

[2016-08-07 22:25] hangtwenty commented on #53
I've decided not to put this in the guide, on its own - at least not yet. Since it is linked in another guide or two (in the 'finding open source libraries' section).

[2016-08-07 22:25] #53 closed

[2016-08-07 22:34] #43 closed

[2016-08-15 16:43] hangtwenty opened #57 "Link to more than just one document for "Learn Python" tip"
Right at the beginning I like to _Dive into Python_ ... and while I would still recommend that as a #1 choice, I should link to my document with more options.

[2016-08-15 16:45] hangtwenty commented on #57
[here](https://docs.google.com/document/d/1Dmh9homu97D_HCcyRyhycJuvG49Wk33ysgNn6Xm9mto/pub)

but the doc, itself, has some TODOs I want to squash.

[2016-08-15 16:47] hangtwenty commented on #57
Also maybe I should turn it into a github(-pages)-hosted document, like this guide - rather than a sloppy Google doc... Maybe :)

[2016-10-02 21:30] #57 closed

[2017-01-11 18:50] hangtwenty opened #60 "Add another "visual intro" blogpost."
Include [this great blog post from Berkley ML dept](https://ml.berkeley.edu/blog/2016/11/06/tutorial-1/) maybe.

[2017-01-11 18:51] hangtwenty commented on #60
While it's a great blogpost, I am not sure if the guide is in need of it. I don't want to add more stuff before the reader "dives in" to Domingos's paper. Will probably leave it out of the guide for now. But I'll doublecheck in a couple days before closing this.

[2017-01-13 00:22] hangtwenty opened #61 "Add YN2 Deep Learning tutorial."
http://yerevann.com/a-guide-to-deep-learning/

[2017-01-13 00:28] #60 closed

[2017-01-23 15:09] #61 closed

[2017-02-09 20:19] hangtwenty opened #63 "[Contributions Welcome!] Look into book about "Test-Driven Approach" to learning Machine Learning; add a note in the guide"
[Thoughtful Machine Learning with Python: A Test-Driven Approach 1st Edition
by Matthew Kirk](https://www.amazon.com/Thoughtful-Machine-Learning-Python-Test-Driven/dp/1491924136/). Looks very interesting. I want to look into the book and/or early reviews of it, and most likely find a place to link it in the guide.

[2017-04-01 17:00] Le0nX commented on #29
thx, guys!

[2017-04-20 17:13] hangtwenty opened #64 "Add link to Sonnet Python library in the right place"
should go in with the other Deep Learning and Tensor Flow links

https://github.com/deepmind/sonnet

[2017-06-12 04:56] #64 closed

[2017-08-14 10:00] meetsha opened #68 "Image linked from Photo Bucket not showing in readme"
Specifically in this section:
https://github.com/hangtwenty/dive-into-machine-learning#a-few-useful-things-to-know-about-machine-learning
The image at the end of this section (is from)/(hosted on) Photo Bucket and is not showing up. If possible we could use an alternative host for the image.

[2017-08-18 00:19] hangtwenty commented on #68
Thank you for noticing this!

[2017-08-18 00:24] hangtwenty commented on #68
[Per this guide](http://solutionoptimist.com/2013/12/28/awesome-github-tricks/), I will just attaching the picture to this issue, then update the URL.

However... While I made this image, I've lost it! 🤦‍♂️  I need to find it again, or remake it since it was rather simple. Tied up at the moment, but will do soon 😬

[2017-08-18 00:26] hangtwenty commented on #63
The note should go in "Assorted Opinions..." after "Ask for Peer Review."

[2017-08-18 02:01] hangtwenty commented on #68
Found it 🐶  ![diml impact diagram](https://user-images.githubusercontent.com/2420688/29441212-798d2bba-837e-11e7-90b1-21daaf8d7b73.png)

[2017-08-18 02:02] hangtwenty commented on #68
Going to get the other images hosted here too while I'm at it...

[2017-08-18 02:02] hangtwenty commented on #68
![That One Preview Gif about Visual Introduction](https://user-images.githubusercontent.com/2420688/29441234-a2028c98-837e-11e7-88f2-1ca5a94684f6.gif)

[2017-08-18 02:05] hangtwenty commented on #68
![the trifecta with the danger zone](https://user-images.githubusercontent.com/2420688/29441268-f429d88c-837e-11e7-83ff-30874d832c89.png)

[2017-08-18 02:05] hangtwenty commented on #68
![the "i'll wait" divider](https://user-images.githubusercontent.com/2420688/29441281-00eff0c4-837f-11e7-9666-d653a1cd2372.jpeg)

[2017-08-18 02:15] #68 closed

[2017-08-18 02:15] hangtwenty commented on #68
Thanks again @meetsha for notifying me.

[2017-08-18 22:12] hangtwenty opened #69 "Add link to have-fun-with-machine-learning, in deep learning section"
It's in a similar spirit, just want to add at the right spot.

* https://github.com/humphd/have-fun-with-machine-learning

[2017-09-16 23:05] #69 closed

[2017-09-16 23:05] hangtwenty commented on #69
Added.

[2017-09-16 23:09] hangtwenty opened #71 "Add link to Learning How to Learn (at the right moment in the guide)"
https://www.coursera.org/learn/learning-how-to-learn/

[2017-09-16 23:18] #71 closed

[2017-09-22 12:16] michelemostarda opened #72 "Include Orange in tools"
I suggest to add [Orange](https://orange.biolab.si) to the tools references.
Orange is an open source machine learning and data visualization for novice and expert.
Provides an interactive data analysis workflows with a large toolbox.

[2017-09-22 16:05] hangtwenty opened #73 "Add some more links to ML in Security problem domains"
- in notebooks section: http://clicksecurity.github.io/data_hacking/

- by security section: https://github.com/jivoi/awesome-ml-for-cybersecurity/blob/master/README.md

---------------------------------------------------------

I want the same caution as before, that people should proceed carefully here. But still want some good resources :-)

[2017-10-01 05:47] hangtwenty commented on #72
Thanks for the suggestion. As you may have noticed, this guide is not an exhaustive list to every lib; that already exists elsewhere.  Orange is already in the [Awesome Machine Learning](https://github.com/josephmisiti/awesome-machine-learning) list for example. That list is linked from this guide.

[2017-10-01 05:47] #72 closed

[2017-10-01 18:21] ankitkul commented on #73
@hangtwenty Please let me know what you intent is with the cybersecurity section. Apart from awesome-ml-for-cybersecurity there are few other awesome lists like:
https://github.com/yenchenlin/awesome-adversarial-machine-learning
https://github.com/RandomAdversary/Awesome-AI-Security

I would image you don't want to overload the cybersecurity section but would you like me to add atleast these 3 awe

[2017-10-01 18:50] ankitkul opened #74 "Add link to course Data 8: The Foundations of Data Science from UC Berkeley"
I agree that hacking is the way you get started. But after going through the same process I struggled for some foundation later.

The [Data 8](http://data8.org/) course and the [inferential thinking](https://www.inferentialthinking.com/) textbook cover the foundations of data science. The course was designed for undergrads because students were struggling with concepts once taking advance topics a

[2017-10-02 03:05] hangtwenty commented on #73
Yeah that sounds good if you feel up to it!

I want to keep the sense of caution - overfitting is an exploitable
vulnerability in cyber security, not just an inaccuracy. However, it's a
topic of interest, might as well link to some good resources :)
On Sun, Oct 1, 2017 at 11:21 AM Ankit Kulshreshtha <notifications@github.com>
wrote:

--
Michael

[2017-10-07 21:48] ankitkul opened #76 "Broken link - fsecurify"
The [fsecurify](http://fsecurify.com/machine-learning-and-cyber-security/) link seems to be broken in section "A note about Machine Learning and Security (InfoSec, AppSec)"

[2017-10-08 03:59] hangtwenty commented on #74
This looks good. Thanks for the context about this course. Seems like this makes sense to add somewhere in the Other Courses section, as another bullet. You have a few comments here so feel free to add all of that, nested list makes sense to me. Your call on where to put in the list; maybe between the 1st and 2nd items, or 2nd and 3rd?

[2017-10-08 03:59] hangtwenty commented on #73
Thanks for raising #75 about this :)

[2017-10-09 16:39] hangtwenty commented on #73
Addressed in #75. Thanks again!

[2017-10-09 16:39] #73 closed

[2017-10-09 16:40] hangtwenty commented on #76
Addressed in #75

[2017-10-09 16:40] #76 closed

[2017-11-01 18:30] TheWindRider opened #82 "Add Table of Contents at the Beginning of README"
I think it's better for README to have a table of contents, with clickables to jump directly to each of the high-level section headline.
I feel it's **a good first task for me** as a rookie open-source contributor.  Kindly remind me of do's and dont's regarding making changes and pull requests.

[2017-11-05 14:12] Jai-Z commented on #82
Hey there, Can I take this issue up?
Thanks

[2017-11-05 18:39] TheWindRider commented on #82
@Jai-Z, I'm working on it, and my latest pull request is #84 .  I'll let you know if my pull request failed and let you take over this issue.

[2017-11-06 10:13] Jai-Z commented on #82
Alright, thanks for letting me know!

[2017-11-06 19:20] #74 closed

[2017-11-06 19:26] #82 closed

[2017-11-12 22:26] solisruj commented on #63
I saw an issue, and wanted to contribute if possible.

[2017-12-01 16:29] hangtwenty commented on #63
@solisruj Sure. The issue is open because I have the sense the book should be somewhere in the doc, but would need to read some of the book or at least a summary, before I knew exactly where it should go. Feel free to take a try at it.

[2017-12-01 18:37] solisruj commented on #63
Thanks, I will get on that as soon as a I have some free time.

Best,
Jose Solis

On Fri, Dec 1, 2017 at 8:29 AM, M. Floering <notifications@github.com>
wrote:

[2017-12-01 18:48] hangtwenty commented on #63
No pressure! Only worthwhile if it’s an interesting subject to you anyways. :)

[2017-12-06 17:58] solisruj commented on #63
Hey @hangtwenty  I finished the summary, and included the note in the "Assorted Opinions..." after "Ask for Peer Review" section. Please let me know if you have any other opportunities. :)

[2017-12-07 06:54] hangtwenty commented on #63
@solisruj Thanks, want to submit your PR?

[2017-12-07 15:26] solisruj commented on #63
@hangtwenty yes I would like that.

[2017-12-07 16:38] hangtwenty commented on #63
@solisruj No problem, it is a little counter-intuitive. If you head to [this repository's Pull Request page](https://github.com/hangtwenty/dive-into-machine-learning/pulls) then you can submit the PR from your fork into this repository.

[2017-12-08 00:29] solisruj commented on #63
@hangtwenty I created fork and made a pull request: https://github.com/solisruj/dive-into-machine-learning/pull/1 Would I just merge the pull request with yours then?

[2017-12-10 20:10] hangtwenty commented on #63
@solisruj You must make the pull request target my repository rather than yours. Start a new pull request and select hangtwenty/master as the destination. Don’t worry about the old pull request, you can throw it away and make a new one easy. Branches and pull requests are “cheap”/disposable

[2017-12-30 05:52] hangtwenty opened #87 "Link to distill.pub"
https://distill.pub/about/

[2018-02-24 00:53] wla80 opened #91 "broken URL in README"
https://fivethirtyeight.blogs.nytimes.com/fivethirtyeights-2012-forecast/ is invalid and was captured by CI in #90 pull request

[2018-03-02 18:07] hangtwenty opened #92 "Link to lore and a tutorial for it"
* https://github.com/instacart/lore/
* https://tech.instacart.com/how-to-build-a-deep-learning-model-in-15-minutes-a3684c6f71e

[2018-03-04 22:15] hangtwenty opened #93 "Link to Google's new "crash course" using TensorFlow. (Deep Learning/ Other Guides)"
https://developers.google.com/machine-learning/crash-course/

- [ ] add link in the Deep Learning section.
- [ ] add link in the Other Guides section.

[2018-03-05 01:30] hangtwenty opened #94 "UX section += reference to, You Are Not the User"
- [ ] Very start of the section should link to a page mentioning, "You Are Not the User"" (a generally useful principal for developers to remember).
- [ ] And link/reference to "Rule #23: You are not a typical end user" from _Martin Z's Rules of ML Engineering doc_ http://martin.zinkevich.org/rules_of_ml/rules_of_ml.pdf

[2018-03-05 01:31] hangtwenty commented on #94
BTW:

- [ ] I should also just make sure that generally-useful PDF is linked somewhere appropriate. Can't remember right now. Should be linked near the "high interest card of machine learning tech debt" link that is already present.

[2018-03-14 05:10] hangtwenty commented on #91
Thanks for opening!

[2018-03-18 17:51] ankitkul commented on #93
@hangtwenty
Raised PR #95.

[2018-03-18 19:13] ankitkul commented on #92
I was thinking of adding it into:

- "Finding Open-Source Libraries"
- Tutorial link in "Deep learning"

Let me know your thoughts.

[2018-03-19 16:36] hangtwenty commented on #92
@ankitkul Yes that'd be perfect!

[2018-03-19 16:58] #91 closed

[2018-03-19 17:00] hangtwenty commented on #92
@ankitkul If you're interested, #93 could be good to tackle at the same time.

[2018-03-19 17:01] hangtwenty commented on #92
Ignore my last comment I was not up to date :)

[2018-04-04 21:27] hangtwenty commented on #92
👍 Thanks again

[2018-04-04 21:27] #92 closed

[2018-04-04 21:27] hangtwenty commented on #93
🙏

[2018-04-04 21:27] #93 closed

[2018-05-01 23:00] sharad-vm commented on #87
I'd like to take this on. Can you provide some details on the issue please?

[2018-05-02 23:26] hangtwenty commented on #87
Just review the existing document and find a reasonable place to add the link and a sentence or so 'pitching' it. Somewhere in 'Assorted Opinions and Other Resources' probably makes sense. Maybe the 'Deep Learning' subsection because distill.pub is mostly concerned with that subfield so far.

[2018-06-26 15:08] kaustubh-pandey commented on #94
Hello, I would like to contribute to this issue.

[2018-06-26 15:30] awesomeamit1998 opened #99 "Add about the numpy arrays"
The numpy array takes 13 milliseconds for its execution in an expression while a normal array takes about
several seconds for its operation

[2018-07-07 06:06] 97harsh commented on #63
Is the issue still open ?
I'd like to contribute

[2018-10-02 19:27] UTpH commented on #63
Hi!
I would like to contribute to this if it is still open.

[2018-10-02 20:34] VuProjects commented on #63
Yes! Please contribute anything as you please.

Sent from my iPhone

[2018-10-03 04:02] jldohmann commented on #87
Hi, I submitted a pull request with this addition to the README.md file. It's my first pull request, so let me know if there's any comments/concerns.

[2018-10-03 16:51] hangtwenty commented on #87
Thank you @jldohmann and @sharad-vm

[2018-10-03 16:51] #87 closed

[2018-10-07 22:34] ankitkul opened #105 "edx course on Data 8"
UC Berkeley now offering their Data 8 course via edX(MOOC) platform. Update the Data 8 section accordingly.

[2018-10-14 15:59] ankitkul opened #108 "fix broken links"
Fix broken links as part of Travis CI build:

Issues :-(

  1. [L026] 522 https://www.continuum.io/downloads
  2. [L121]  http://nb.bianp.net/sort/views/ Connection timed out - connect(2) for "nb.bianp.net" port 80

[2018-10-15 08:08] UTpH commented on #63
@VuProjects So I brushed through the book and some reviews online and this is what I think the book would be useful for. It can be added in the Alternative ways to "Dive into Machine Learning" section.
"A quick read of the book is good for people with a business background who want to know what the various popular algorithms are.
It is also good for developers who are looking for Ruby based ML and

[2018-10-15 18:29] UTpH commented on #63
I am trying to push to a new branch but it says I do not have access. How do I go around that?

[2018-10-19 19:20] #105 closed

[2018-10-19 19:20] hangtwenty commented on #108
👍

[2018-10-19 19:20] #108 closed

[2018-10-19 19:20] hangtwenty commented on #63
Sorry for the confusion but upon review of the reviews of this book, I've decided it is not needed here for now.

[2018-10-19 19:20] #63 closed

[2018-10-20 15:00] ankitkul opened #111 "edX course on Data8"
UC Berkeley now offering their Data 8 course via edX(MOOC) platform. Update the Data 8 section accordingly.

Note: The previous issue with the same name was not resolved, so opening again.

[2018-11-30 18:14] SubhrajitPrusty opened #114 ""Starting Simple" episode outdated link"
http://www.thetalkingmachines.com/blog/2015/4/23/starting-simple-and-machine-learning-in-meds link doesn't work anymore.

[This](http://www.thetalkingmachines.com/episodes/starting-simple-and-machine-learning-meds) may be the correct one.

[2019-03-03 07:35] hangtwenty commented on #114
Thanks @SubhrajitPrusty and @xkcao!

[2019-03-03 07:35] #114 closed

[2019-03-04 10:12] hangtwenty opened #117 "Add info about Dask"

[2019-03-04 10:12] hangtwenty commented on #117
Above Apache Spark

https://dask.org
http://docs.dask.org/en/latest/why.html
http://docs.dask.org/en/latest/spark.html

[2019-03-05 19:27] hangtwenty opened #118 "[notes to self/ thinking out loud] regarding human learning styles - "impasse-driven learning""
_in this ticket, 'learning' refers to humans learning a topic, in general - it is not machine-learning hehe_

I've recently learned the term/concept of "impasse-driven learning" and it was a 💡 for me. Realized this is my preferred learning style. Some interesting papers exist (though I'm surprised how few): https://scholar.google.com/scholar?q=impasse-driven+learning

this guide is oriented toward

[2019-03-05 19:29] hangtwenty commented on #118
moreover 'impasse-driven learning' describes any case of:

* "dive into XYZ"
* "hack-first" approach/ learn by hacking
* "learn XYZ the hard way"

(which works best for me!)

[2019-03-05 19:29] hangtwenty commented on #118
hmm but then I don't want to interrupt the flow of the intro.

Gotta get to playing and learning ASAP ... dive in, that's the point!

[2019-03-05 19:34] hangtwenty commented on #118
Oh right I'll do some updates in the "Learn Python" guide to underscore this.  That is a more fitting place.
https://github.com/hangtwenty/python-is-for-lovers

Going to close this.

[2019-03-05 19:44] hangtwenty commented on #118
Links that touch on this learning style:

* https://scholar.google.com/scholar?q=impasse-driven+learning
* https://scholar.google.com/scholar?hl=en&as_sdt=0%2C38&q=test-driven+learning&btnG=
* https://stackoverflow.com/questions/1569132/has-anybody-used-unit-testing-as-a-way-to-learn-programming
* http://testfirst.org
* https://simpleprogrammer.com/test-driven-learning/

Plus I wrote a blog post d

[2019-03-05 19:44] hangtwenty commented on #118
OK, good to brainstorm this and get some notes into one place. Closing this.

[2019-03-05 19:55] #118 closed

[2019-03-05 19:55] hangtwenty commented on #111
Thanks @ankitkul !

[2019-03-05 19:55] hangtwenty commented on #111
Reviewing

[2019-03-06 17:23] hangtwenty opened #119 "add link to Python Data Science Handbook"
https://github.com/jakevdp/PythonDataScienceHandbook

[2019-03-06 23:37] hangtwenty opened #120 "add links to @rabst's books"
* https://github.com/rasbt/python-machine-learning-book-2nd-edition
* https://github.com/rasbt/deep-learning-book

[2019-03-07 22:06] hangtwenty opened #121 "section on timeseries DBs and tsfresh (automated feature extraction)"
or perhaps just a link to someone else's. or highlighting that one handy OSS timeseries-db-comparison, plus personal favorites like timescaledb

Mostly I really want to point people to this

https://github.com/blue-yonder/tsfresh

It's about Feature Engineering which is before 'the action happens' in machine learning, but considering how often real use-cases are using timeseries of one time or ano

[2019-03-07 22:07] hangtwenty commented on #121
<img width="627" alt="image" src="https://user-images.githubusercontent.com/2420688/53992699-58e99380-40e2-11e9-85fd-5be30d933d0f.png">

[2019-03-20 19:40] hangtwenty opened #122 "add link to 'Dive into Deep Learning'"
https://github.com/hangtwenty/dive-into-machine-learning#deep-learning

should have link to this in its list:

https://d2l.ai/

[2019-03-27 20:18] cpdj commented on #122
Hi! Should I add just a link, or a description of the link too, like you did with the others?

[2019-04-01 18:21] hangtwenty opened #124 "replace creative.ai like with CADL link"
creative.ai is gone (RIP)

but there is this: https://github.com/pkmital/CADL

[2019-06-05 03:05] hangtwenty opened #126 "pandas docs should point to latest"
for example there is a link to  http://pandas.pydata.org/pandas-docs/version/0.15.0/visualization.html but that should go to latest.

[2019-06-05 03:06] hangtwenty opened #127 "braindump"

[2019-06-05 03:07] hangtwenty commented on #127
* options for hosted/collaborative jupyter notebooks. ideally link to some other list which lists/reviews the options

[2019-09-09 07:53] #126 closed

[2019-09-14 19:22] hangtwenty commented on #127
Add a link to: https://github.com/collections/machine-learning

[2019-09-14 19:23] hangtwenty commented on #127
Add a link to: https://github.com/collections/open-data

[2019-09-15 04:24] hangtwenty commented on #127
Add a link to: https://github.com/dformoso/machine-learning-mindmap ... Further towards bottom (i.e. it’s after you have gotten some baseline knowledge). Plus there is another mindmap by the same author, re: deep learning

[2019-09-21 20:44] #124 closed

[2019-09-21 20:44] #122 closed

[2020-03-18 14:11] hangtwenty commented on #127
https://github.com/FavioVazquez/ds-cheatsheets

[2021-05-21 01:15] hangtwenty opened #137 "Add link - Wikipedia's outline of ML is pretty great"
https://en.wikipedia.org/wiki/Outline_of_machine_learning

[2021-08-21 06:42] SaharshLaud commented on #137
Hi, I want to work on this issue since this I am quite new to opensource contributions.
If you could just specify a general idea as to where I can include this link, that will be really helpful.

Thanks in advance.

[2021-08-26 00:19] hangtwenty opened #138 "Add link to Hands-On ML by @ageron"
https://github.com/ageron/handson-ml

[2021-08-26 00:23] hangtwenty opened #139 "Add link to notebook collections by @trekhleb"
https://github.com/trekhleb/machine-learning-experiments

[2021-09-14 00:40] hangtwenty commented on #127
- https://github.com/trekhleb/homemade-machine-learning

[2021-09-14 00:41] hangtwenty commented on #139
https://github.com/trekhleb/homemade-machine-learning

[2021-09-14 17:57] hangtwenty commented on #127
https://leanpub.com/datastyle

[2021-10-04 00:58] hangtwenty opened #140 "Add link - "So You Want to Build an Ethical Algorithm...""
https://github.com/numfocus/algorithm-ethics/blob/master/EthicalAlgorithmTool.md

[2021-10-04 01:00] hangtwenty commented on #140
https://github.com/numfocus/algorithm-ethics

[2021-10-04 01:27] hangtwenty commented on #127
* https://github.com/donnemartin/data-science-ipython-notebooks
* https://github.com/donnemartin/interactive-coding-challenges

[2021-10-04 05:25] hangtwenty opened #141 "Add links to ines/spacy-course, exposion/thinc, spaCy NLP workflows"
https://github.com/ines/spacy-course

https://github.com/explosion/thinc

https://github.com/explosion/projects

[2021-10-06 01:08] hangtwenty commented on #127
* I'll add a tip about https://arxiv-vanity.com -

![image](https://user-images.githubusercontent.com/2420688/136124607-9667fc99-8b97-4296-894e-ff17cf5eea4b.png)

[2021-10-15 04:55] hangtwenty opened #142 "❗️ very special link - labmlai/annotated_deep_learning_paper_implementations"
for the Deep Learning section

[2021-10-19 22:11] hangtwenty commented on #127
Maybe I'll add some links about synthesizing test data.

* https://github.com/getsynth/synth
* https://github.com/topics/synthetic-data
* https://github.com/lk-geimfari/mimesis
* etc

But I need to think about how to contextualize it, etc

[2021-10-19 22:17] hangtwenty commented on #127
* Maybe I'll add a note to the local Jupyter section, pointing out IDE support for Jupyter notebooks.
    * There's an official VS Code extension to support Jupyter notebooks inside VS Code (-- if my memory serves me! I think it's still in Preview status).
    * But maybe it needs to mention the limitations so that we don't throw someone off while they're learning

[2021-10-21 20:18] hangtwenty opened #143 "braindump re: IDE, editors - setup/config, notes on Jupyter plugins or integrations"
* Debugging tools that can be used inside (or outside) a Jupyter notebook
    * `birdseye` https://birdseye.readthedocs.io/en/latest/integrations.html#jupyter-ipython-notebooks
    * `snoop` https://github.com/alexmojaki/snoop

----

* VS Code
  * https://github.com/dynamicwebpaige/thinking-in-data ⬅️

* JetBrains DataSpell
  * https://blog.jetbrains.com/blog/2021/03/30/announcing-the-eap-for-jetb

[2021-10-22 22:23] hangtwenty opened #144 "I would like to better emphasize MLOps, but without overwhelming beginners"
I recently added these links:

* https://github.com/visenger/awesome-mlops
* https://github.com/EthicalML/awesome-production-machine-learning

I'd like to contextualize those links a bit better.

[2021-10-23 16:31] hangtwenty opened #145 "add links to Lj Miranda's "Navigating the ML Ops Tooling Landscape" and Jupyter-tooling landscape posts."
### "Navigating the MLOps landscape"
* [Lj Miranda, "Navigating the MLOps Landscape" - part 1](https://ljvmiranda921.github.io/notebook/2021/05/10/navigating-the-mlops-landscape/), [2](https://ljvmiranda921.github.io/notebook/2021/05/15/navigating-the-mlops-landscape-part-2/), [3](https://ljvmiranda921.github.io/notebook/2021/05/30/navigating-the-mlops-landscape-part-3/); [or a summary](https://ml

[2021-11-14 05:59] hangtwenty commented on #144
* https://github.com/jtleek/datasharing

[2021-11-14 06:00] hangtwenty opened #151 "add link to "How to share data with a statistician""
* https://github.com/jtleek/datasharing

_Originally posted by @hangtwenty in https://github.com/hangtwenty/dive-into-machine-learning/issues/144#issuecomment-968212393_

[2021-11-16 04:17] #117 closed

[2021-11-16 04:20] #120 closed

[2021-11-16 04:35] hangtwenty commented on #138
https://github.com/ageron/handson-ml2 - updated version - published by O'Reilly but also available as/with notebooks.

[2021-11-16 05:24] #142 closed

[2021-11-16 05:59] hangtwenty commented on #145
I made a PR and I'll merge it soon. Closing

[2021-11-16 05:59] #145 closed

[2021-11-16 06:00] hangtwenty commented on #139
Incorporated!

[2021-11-16 06:00] #139 closed

[2021-11-16 06:00] hangtwenty commented on #138
Incorporated!

[2021-11-16 06:00] #138 closed

[2021-11-19 23:58] hangtwenty opened #160 "Chore: Automate broken link checking in the doc."
I had something for this in the past. Just need to do it fresh. I'll use GitHub Actions.

[2021-11-20 00:42] #144 closed

[2021-11-20 00:51] hangtwenty commented on #127
* https://github.com/fastai/fastbook

[2021-11-29 20:36] hangtwenty opened #166 "Update the section about places to share work"
There's a section about some ways to practice and increase expertise, and some places to share your work for review. The section hasn't changed much in a while, and it probably should. It should mention OpenReview.net for example.

[2021-11-29 20:37] hangtwenty commented on #166
Related: #151

[2021-12-02 04:53] hangtwenty commented on #29
Found these, adding to guide, but thought I would cc them here since I link to this issue from the guide at one point.

[2021-12-02 23:05] #160 closed

[2021-12-18 03:39] hangtwenty commented on #151
Actually, it's not specifically relevant enough. It's written for a specific audience.

[2021-12-18 03:39] #151 closed

[2021-12-18 05:36] #166 closed

[2021-12-23 06:26] #141 closed

[2021-12-24 03:00] hangtwenty commented on #127
Maybe add link to the section of finding-other-notebooks:

* https://github.com/ujjwalkarn/Machine-Learning-Tutorials

[2021-12-24 07:36] hangtwenty commented on #127
Append to - _where to find datasets_ -

*  https://github.com/mattbierbaum/arxiv-public-datasets

[2021-12-29 08:58] hangtwenty commented on #127
Add to pandas resources: some of the pandas/alternatives/etc stuff from  https://github.com/r0f1/datascience

[2021-12-31 06:13] hangtwenty commented on #127
* https://github.com/microsoft/responsible-ai-toolbox
* https://github.com/microsoft/ML-For-Beginners

[2021-12-31 06:36] hangtwenty opened #183 "half-formed idea - maybe add a new sub-section of "people who implement papers!" — Some more GitHub users to follow, etc."
Maybe I will add another sub-section (or just list item) after the current deep learning related links. It could be a list of various github users and folks who tend to implement a lot of papers — for varying senses of "implement," of course. But these are people who are keeping up with the latest research in a hands-on way and sharing implementations of papers, and/or combinations of the S.O.T.A.

[2021-12-31 06:42] hangtwenty commented on #183
* https://github.com/lucidrains?tab=repositories&type=sourc

[2021-12-31 07:30] hangtwenty commented on #127
-[ ] https://github.com/microsoft/responsible-ai-toolbox

[2022-01-01 20:13] hangtwenty commented on #183
Maybe I will also add a section of "reading lists of papers," adjacent.

* https://github.com/floodsung/Deep-Learning-Papers-Reading-Roadmap

----

I'll emphasize the difference between the two new lists I'll add:

1. a list of GitHub users who have implemented code for lots of interesting DL/ML papers
2. [new] a list of reading-lists of ML and DL papers.

[2022-01-02 23:45] hangtwenty commented on #183
I have already linked to this repo but maybe I'll move the link or mention again:

* https://github.com/labmlai/annotated_deep_learning_paper_implementations

[2022-01-04 18:08] hangtwenty commented on #127
- [ ] Add to Julia section: https://github.com/FluxML/Flux.jl

[2022-01-04 19:37] hangtwenty commented on #127
- [ ] https://github.com/benedekrozemberczki/pytorch_geometric_temporal

[2022-01-07 23:33] hangtwenty commented on #183
I'm going to close this for now and think about it more. I would want to talk to people before putting them in a list of "people to follow [on GitHub]," just to make sure nobody was made uncomfortable by it, etc. But currently I don't have the bandwidth to do a good job of it.

so, closing as "maybe later"

[2022-01-07 23:33] #183 closed

[2022-01-14 05:59] hangtwenty opened #189 "add link to OSSU/data-science"
* https://github.com/ossu/data-science

[2022-01-17 05:03] #189 closed

[2022-01-21 03:23] hangtwenty commented on #127
- [ ] Add to ipython/jupyter tips - you can use `@snoop` as a Jupyter extension / cell magic - https://github.com/alexmojaki/snoop#ipythonjupyter-integration

[2022-01-23 23:16] hangtwenty commented on #127
- Just found this, which I might add under the Julia seciton:
    - juliadatascience.io https://github.com/JuliaDataScience/JuliaDataScience

[2022-01-24 01:18] hangtwenty opened #196 "Datasette"
Quick memo before I forget. The guide should mention/link Datasette. Probably around where it mentions public datasets.

https://github.com/simonw/datasette

[2022-01-24 02:07] hangtwenty opened #197 "Add link to Dan Nguyen's journalism-syllabi repository"
Just came across this, seems like an excellent addition.

https://github.com/dannguyen/journalism-syllabi

[2022-01-24 18:44] hangtwenty commented on #127
- [ ] Add link near `thinc` -
    - [ ] https://github.com/ludwig-ai/ludwig

[2022-01-24 21:41] hangtwenty commented on #121
Probably add:

- [ ] https://github.com/alteryx/featuretools

[2022-01-24 23:35] hangtwenty commented on #127
- https://probability4datascience.com/
    - https://news.ycombinator.com/item?id=30060759
        - https://news.ycombinator.com/item?id=30061524

[2022-01-28 03:41] alabdalimohmad07 opened #198 "Off"
- [ ] **TODO:** I'll handle this issue, https://github.com/hangtwenty/dive-into-machine-learning/issues/121 , in this same changeset. Probably

_Originally posted by @hangtwenty in https://github.com/hangtwenty/dive-into-machine-learning/issues/180#issuecomment-1003310289_

[2022-02-02 05:48] #121 closed

[2022-02-02 22:29] hangtwenty commented on #196
Combining this with #197

[2022-02-02 22:29] #196 closed

[2022-02-02 22:48] #143 closed

[2022-02-02 22:48] hangtwenty commented on #197
https://github.com/uwdata/visualization-curriculum

[2022-02-13 20:13] hangtwenty commented on #127
* https://github.com/SE-ML/awesome-seml

[2022-02-19 17:07] #127 closed

[2022-02-19 18:55] hangtwenty commented on #127
* https://github.com/blueberrymusic/Deep-Learning-A-Visual-Approach

[2022-02-20 17:15] hangtwenty commented on #197
I'm not sure where to link to it since it's tangential to the doc. I'm closing the issue for now, though I might still add the links if I think of where to put them.

[2022-02-20 17:15] #197 closed

[2022-03-06 09:06] hangtwenty commented on #127
* http://karlrosaen.com/ml/

[2022-03-12 01:03] hangtwenty commented on #127
https://github.com/pycaret/pycaret